@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-mobile: 320px;
  --breakpoint-mobile-2: 390px;
  --breakpoint-tablet: 700px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Noto Sans Telugu UI", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
}
