@font-face {
  font-family: "Noto Sans Telugu UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/noto-sans-telugu-ui/NotoSansTeluguUI-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Noto Sans Telugu UI";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/noto-sans-telugu-ui/NotoSansTeluguUI-Bold.woff2")
    format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Noto Sans Telugu UI", sans-serif;
}
